@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* #page-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */

/* header{
    filter: drop-shadow(2px 2px 2px red);
} */

#home-page
{
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg,rgb(73, 100, 154) 50%, #95cfe0); */
    background-color: gray;
}

.container
{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
}
.container:hover .card
{
    filter: blur(5px);
    transform: scale(.7); 
}
.container .card
{
    margin: auto;
    position: relative;
    width: 250px;
    height: 300px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}
.container .card:hover
{
    filter: blur(0px);
    transform: scale(1);
}
.container .card:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;
    transition: 0.5s;
}
.container .card:hover:before
{
    background: #000;
    transform: scaleY(1.15);
    /* transform: scaleY(0.5); */
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.container .card:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    transition: 0.5s;
    background: rgba(255,255,255,.1);
    z-index: 1;
}
.container .card:hover:after
{
    transform: scaleY(1.15);
    /* transform: scaleY(0.5); */
}
.container .card:hover
{
    z-index: 1;
}
.container .card .content
{
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: 0.5s;
}
.container .card:hover .content
{
    color: #fff;
}
.container .card .content h2
{
    font-size: 3em;
}
.container .card .content p
{
    font-size: 0.9em;
}
.container .card .content a
{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #262626;
    color: #fff;
    text-decoration: none;
}
.container .card:hover .content a
{
    background: #2196F3;
}

.template {   
    border-radius: 5px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    background-color: rgb(213, 206, 206)smoke;
}



/* About section */

.info{
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.data{
    /* border: 2px solid red; */
    width: 480px;
    font-weight: 500;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: inset 0 0 20px rgb(0, 0, 0);
    padding: 25px;
    display: grid;
    place-items: center;
    justify-content: center;
}
.profile img{
    box-shadow: 0 0 10px;
    border-radius: 5px;
}
.photo{
    width: 300px;
    height: 400px;
}
.title1{
    text-decoration: underline;
    display: grid;
    place-items: center;
    margin-left: 50px;
    display: grid;
    place-items: left;
    font-weight: bolder;    
}